<form action="/estrella" method="GET">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" class="form-control" id="nombre"
            placeholder="Nombre de la estrella" name="nombre">
  </div>
          <button type="submit" class="btn btn-primary">Buscar</button>

</form>
