<form class="" action="index.html" method="get">
  <div class="form-group">
    <label for="nombre">Busca:</label>
    <input type="text" class="form-control" id="nombre"
            placeholder="Nombre de la estrella" name="nombre">
  </div>
  <select name="cars" class="custom-select">
    <option selected>Tipo de busqueda</option>
    <option value="nombre">Nombre</option>
    <option value="tipo">Tipo</option>
    <option value="edad">Edad</option>
  </select>
</form>
