<div class="row">
  {{#each estrellas}}
  <div class="col">
    <div class="card" style="width:400px">
      <img class="card-img-top" src="{{imagen}}" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{nombre}}</h4>
          <p class="card-text">{{tamaño}}</p>
          <a href="#" class="btn btn-primary stretched-link">Alta exitosa</a>
        </div>
    </div>
  </div>
  {{/each}}
</div>
