<div class="row">
  {{#each estrellas}}
  <div class="col">
    <div class="card" style="width:320px">
      <img class="card-img-top" src="{{imagen}}" alt="Catalogo" style="width:75%">
      <div class="card-body">
        <h4 class="card-title">{{nombre}}</h4>
          <p class="card-text">{{tipo}}</p>
          <a href="#" class="btn btn-primary stretched-link">Más Información</a>
          <a href="#" class="btn btn-danger stretched-link">Borrar</a>
        </div>
    </div>
  </div>
  {{/each}}
</div>
